*,
::before,
::after {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: #e5e7eb;
}

html {
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  font-family: Poppins, sans-serif;
}

body {
  margin: 0;
  line-height: inherit;
  overflow: hidden;
}

.background {
  background-color: #008eff;
}

.full-screen {
  gap: 15px;
  justify-content: center;
  max-width: 36rem;
  height: 100vh;
  margin: auto;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.content-buttons {
  width: 100%;
  align-items:center;
  justify-content:center;
}

.button {
  width: 16rem;
  align-items: center;
  padding: 1rem 1.75rem;
  color: #363636;
  border-radius: 0.5rem;
  box-shadow: 5px 5px 5px black;
  letter-spacing: 0.025em;
  border: 1px solid black;
  background: #b8b8b8;
  text-transform: uppercase;
}

.button {
  transition: color 0.5s;
}

.button:hover {
  color:#005e8f;
}

button.button {
  width: 12rem;
}

.d-none {
  display: none;
}

.hidden {
  visibility: hidden;
}

.align-self-center {
  align-self:center
}

p {
  color: white;
  font-size: 1.125rem;
  text-align: center;
}